<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Event Manager{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    {% block extra_head %}{% endblock %}
</head>
<body class="bg-gray-100">

    {% if request.user.is_authenticated %}
        {% include "logged_nav.html" %}
    {% else %}
        {% include "non_logged_nav.html" %}
    {% endif %}

    <div class="p-4">
        {% block content %}{% endblock %}
    </div>
{% block extra_js %}{% endblock %}

</body>
</html>
